@model List<SistemaSuportado>
@{
}

<link rel="stylesheet" href="~/css/sistemasSuportado.css" asp-append-version="true" />

<div class="card">
    <div class="card-header d-flex align-items-center">
        <img src="~/Images/gif/systems.gif" class="icon-css mr-3">
        <h4 class="text-center mb-0 flex-grow-1">Sistemas Suportados</h4>
    </div>

    <div class="card-header">
        <div class="d-flex justify-content-between">
            <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                    <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Index", "Home")'"><b>Voltar</b></button>
                </li>
            </ul>
            <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                    <a class="btn btn-primary" asp-area="" asp-controller="Sistemas" asp-action="Cadastrar">Cadastrar</a>
                </li>

            </ul>
        </div>
    </div>

    <div class="card-body">
        <table id="tbSistemasSuportados" name="tbSistemasSuportados" class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Sistema</th>
                    <th scope="col">Data Criação</th>
                    <th scope="col">Alterar</th>
                    <th scope="col">Remover</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var system in @Model)
                    {
                        <tr>
                            <td>@system.id</td>
                            <td>@system.nome</td>
                            <td>@system.data_criacao.ToString("dd/MM/yyyy")</td>
                            <td>
                                @Html.ActionLink("Alterar", "Alterar", new {id = @system.id}, new { @class = "btn btn-outline-secondary" })                                
                            </td>
                            <td>
                                @Html.ActionLink("Remover", "Delete", new {id = @system.id}, new { @class = "btn btn-outline-danger" })                                
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>


@section Scripts{
<script>
    $(document).ready( function ()
    {
       $('#tbSistemasSuportados').DataTable({
                "language": {
                    "info": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "infoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "infoFiltered": "(Filtrados de _MAX_ registros)",
                    "lengthMenu": "Mostrar _MENU_ registros",
                    "search": "Buscar:",
                    "zeroRecords": "Nenhum registro encontrado",
                    "paginate": {
                        "first": "Primeiro",
                        "last": "Último",
                        "next": "Próximo",
                        "previous": "Anterior"
                    }
                }
       });
    } );

</script>
}