@model List<Usuario>
@using System.Security.Claims
@using CallOfIT.Controllers
@{
}

<div class="card">

    @if (TempData.ContainsKey("MsgError"))
    {
        <div class="alert alert-danger">
            @TempData["MsgError"]
        </div>
    }

    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
                <a class="btn btn-outline-secondary" asp-area="" asp-controller="Usuarios" asp-action="Cadastrar">Cadastrar</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <table id="tbUsuarios" name="tbChamadosAtribuidos" class="table">
            <thead class="thead-dark">
                <tr>
                    <th style="text-align:center" scope="col">ID</th>
                    <th style="text-align:center" scope="col">Nome</th>
                    <th style="text-align:center" scope="col">Username</th>
                    <th style="text-align:center" scope="col">Email</th>
                    <th style="text-align:center" scope="col">Status</th>
                    <th style="text-align:center" scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var usuario in @Model)
                    {
                        <tr>
                            <th>@usuario.Id</th>
                            <td>@usuario.Nome</td>
                            <td>@usuario.Username</td>
                            <td>@usuario.Email</td>
                            <td style="text-align:center"><input type="checkbox" asp-for="@usuario.Status" value="@usuario.Status" /></td>
                            <td style="text-align:center">
                                @Html.ActionLink("Alterar", "Alterar", new {username = @usuario.Username}, new { @class = "btn btn-outline-secondary" })
                                @Html.ActionLink("Desabilitar", "InativarUsuario", new {username = @usuario.Username}, new { @class = "btn btn-outline-secondary" })
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>





@section Scripts{
<script>
    $(document).ready( function ()
    {
       $('#tbUsuarios').DataTable();
    } );
</script>
}