@model List<Usuario>
@using System.Security.Claims
@using CallOfIT.Controllers
@{
}

<link rel="stylesheet" href="~/css/usuarios.css" asp-append-version="true" />

<div class="card">

    @if (TempData.ContainsKey("MsgError"))
    {
        <div class="alert alert-danger">
            @TempData["MsgError"]
        </div>
    }

    <div class="card-header d-flex align-items-center">
        <img src="~/Images/gif/userList.gif" class="icon-css mr-3">
        <h4 class="text-center mb-0 flex-grow-1">Usuários</h4>
    </div>

    <div class="card-header">
        <div class="d-flex justify-content-between">
            <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                    <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Index", "Home")'"><b>Voltar</b></button>
                </li>
            </ul>
            <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                    <a class="btn btn-primary" asp-area="" asp-controller="Usuarios" asp-action="Cadastrar">Cadastrar</a>
                </li>

            </ul>
        </div>
    </div>
    <div class="card-body">
        <table id="tbUsuarios" name="tbChamadosAtribuidos" class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th style="text-align:center" scope="col">ID</th>
                    <th style="text-align:center" scope="col">Nome</th>
                    <th style="text-align:center" scope="col">Username</th>
                    <th style="text-align:center" scope="col">Email</th>
                    <th style="text-align:center" scope="col">Status</th>
                    <th style="text-align:center" scope="col">Editar</th>
                    <th style="text-align:center" scope="col">Alterar Status</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var usuario in @Model)
                    {
                        <tr>
                            <th>@usuario.Id</th>
                            <td>@usuario.Nome</td>
                            <td>@usuario.Username</td>
                            <td>@usuario.Email</td>
                            <td style="text-align:center"><input type="checkbox" asp-for="@usuario.Status" value="@usuario.Status" /></td>
                            <td style="text-align:center">
                                @Html.ActionLink("Alterar", "Alterar", new {username = @usuario.Username}, new { @class = "btn btn-outline-secondary" })
                            </td>
                            <td style="text-align:center">
                            @{
                                    if(!usuario.Status)
                                    {
                                        @Html.ActionLink("Ativar", "AlterarStatus", new {username = @usuario.Username}, new { @class = "btn btn-outline-success" })
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Desativar", "AlterarStatus", new {username = @usuario.Username}, new { @class = "btn btn-outline-warning" })
                                    }
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>





@section Scripts{
<script>
    $(document).ready( function ()
    {
            $('#tbUsuarios').DataTable({
                "language": {
                    "info": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "infoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "infoFiltered": "(Filtrados de _MAX_ registros)",
                    "lengthMenu": "Mostrar _MENU_ registros",
                    "search": "Buscar:",
                    "zeroRecords": "Nenhum registro encontrado",
                    "paginate": {
                        "first": "Primeiro",
                        "last": "Último",
                        "next": "Próximo",
                        "previous": "Anterior"
                    }
                }
            });
    } );
</script>
}