@model List<Chamado>

<link rel="stylesheet" href="~/css/entrada.css" asp-append-version="true" />

<div class="card">
    <div class="card-header d-flex align-items-center">
        <img src="~/Images/gif/signpost.gif" class="icon-css mr-3">
        <h4 class="text-center mb-0 flex-grow-1">Chamados - Não Designados</h4>
    </div>

    <div class="card-body">
        <table id="tbChamadosAtribuidos" name="tbChamadosAtribuidos" class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Data Criação</th>
                    <th scope="col">Solicitante</th>
                    <th scope="col">Data Limite</th>
                    <th scope="col">Ação</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var system in @Model)
                    {
                        <tr>
                            <td>@system.id</td>
                            <td>@system.data_criacao.ToString("dd/MM/yyyy")</td>
                            <td>@system.solicitante</td>
                            <td>@system.data_limite.ToString("dd/MM/yyyy")</td>
                            <td>
                                @Html.ActionLink("Abrir", "ChamadoUnit", new {id = @system.id}, new { @class = "btn btn-outline-secondary" })
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="container text-center">
        <div class="row text-center ">
            <div class="col-md-6 mb-3 mx-auto">
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Chamados")'"><b>Voltar</b></button>
            </div>
        </div>
    </div>
</div>